{% extends 'base.html.twig' %}

{% block title %}Listes des articles!{% endblock %}

{% block body %}
<div class="album py-5 bg-light">
    <div class="container-fluid">


        <div class="row">
            {% for article in article %}

            <div class=" col-12 col-md-4 mt-4 text-center">
                <div class="card mb-4 shadow-sm">
                    <div class="card">                        
                        {% if article.featuredImage %}
                        <img src="{{ asset('img/')}}{{ article.featuredImage}}" class="card-img-top" style="width:100%; height:250px; object-fit:cover;">
                        {% endif %}
                    </div>
                        <div class="card-body">
                        <h2 class="card-title"><a href="{{ path('actualites_article', {'slug':article.slug}) }}">{{article.titre}}</a>
                        </h2>
                        <p class="card-text">{{article.Contenu}}</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="btn-group">
                                <a href="{{ path('actualites_article', {'slug':article.slug}) }}"> <button type="button" class="btn btn-sm btn-warning">Savoir Plus</button></a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}